fastapi
uvicorn
sqlalchemy
asyncpg
aiosqlite
pydantic
pydantic-settings
python-dotenv

langchain
langchain-groq
langchain-community
langgraph
groq

chromadb
scikit-learn

requests
aiohttp
beautifulsoup4
feedparser
duckduckgo-search
googlesearch-python
xmltodict
playwright
twikit

transformers
torch
torchvision
pillow
einops
yt-dlp
openai-whisper
ffmpeg-python

aiokafka
